.episode-main {
    text-align:  center;
}

.episode-main .wallpaper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.episode-main .avatar{
    margin: 20px;
}

.avatar img{
    margin-top: 60px;
    border-radius: 50%;
    border: 2px solid black;
}

.wallpaper img{
    width: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}