.episode-list-main {
    padding-bottom: 20px;
}

.episode-list-main .cont-tabs {
    display: flex;
}

.cont-tabs p {
    font-weight: bold;
    padding: 0 10px;
    margin: 10px;
    cursor: pointer;
    transition: .2s all ease-in-out;
    border-bottom: 2px solid transparent;

}

.cont-tabs p:active {
    border-color: black;
}

.cont-tabs p:hover {
    border-color: gray;
    opacity: .7;
}