.search-bar-main {
    padding: 10px;
    margin: 10px;
    border: 2px solid #46b1c9;
    border-radius: 10px;
    box-shadow: 6px 1px 6px 5px rgba(70,177,201,0.49);
}

.search-bar-main .cont-inputs{
    display: flex;
    padding: 20px;
    border: none;
    box-shadow: none;
}

.cont-inputs .form-container {
    width: 20%;
}

.search-bar-main .button-submit {
    padding: 10px;
    box-shadow: none;

}

@media screen and (max-width: 994px){
    .search-bar-main .cont-inputs{
        flex-direction: column;
    }

    .cont-inputs .form-container {
        width: 50%;
        min-width: 220px;
    }
}